*
!*/
!*.md
!*.py
!*.toml
!uv.lock
!*.sh
!*.jsonl
!docs/*.json
!.gitattributes
!.gitignore
!**/.gitignore
!LICENSE
!NOTICE
!CITATION.cff
!split_manifest.json
!ingest_report.json
!Dockerfile
data/baselines/
data_prev/
data/train_only/
**/__pycache__/
